@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
  --amarillo: #8edae7;
  --amarillo-select: #00556c;
  --celeste: #a286d1;
  --gris-fondo: #F5F5F5;
}
